{% autoescape off %}
Bonjour,

Vous recevez cet email car vous avez demandé la réinitialisation du mot de passe pour votre compte sur le site de Gestion des Clés EERE.

Veuillez suivre le lien ci-dessous pour définir un nouveau mot de passe :
{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}

Ce lien ne peut être utilisé qu'une seule fois. Si vous avez besoin de réinitialiser à nouveau votre mot de passe, veuillez visiter {{ protocol }}://{{ domain }} et faire une nouvelle demande.

Si vous n'avez pas demandé cette réinitialisation, vous pouvez ignorer cet email en toute sécurité.

Cordialement,
L'équipe EERE
{% endautoescape %}